.fc {
  max-width: 100%;
  overflow-x: auto;
}

.fc-view-harness {
  min-width: 700px;
  pointer-events: none;
}

.fc-timegrid-event {
  top: 1px !important;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  pointer-events: auto;
}

.fc-timegrid-col-events {
  margin: 0 !important;
  outline: 1px solid var(--fc-border-color);
}

.fc-event-main {
  padding: 1px 3px 3px !important;
  overflow: hidden;
}

.fc-timegrid-slots tr:first-child {
  box-shadow: inset 0 1px var(--fc-border-color);
}

.fc-col-header th {
  border-bottom: 0;
}

.fc-event:has(.skipped) {
  opacity: 0.3;
}

.fc-event-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fc-day-today {
  background-color: unset !important;
}
